* {
    box-sizing: border-box;
  }
  
  body {
    font-family:fantasy;
    padding: 10px;
    background-color: lightslategray;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: lightsalmon;
    font-family: curs;
    margin-left: 250px;
    margin-right: 250px;
    border: double;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 60%;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: lightcyan;
    padding-left: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border: double;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  
  
  /*Container */
  .container {
    background-color: lightgreen;
    width: 100%;
    padding: 20px;
    border: double;
  }
  
  .card {
    background-color: lightpink;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border: double;
  }

  .winlose {
    background-color: lightpink;
    padding: 40px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 20px;
    border: double;
  }
  
  .totalscore {
    background-color: lightpink;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 20px;
    border: double;
  }

  .magicnumber {
    background-color: lightpink;
    padding: 40px;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 20px;
    border: double;
    margin-bottom: 25px;
  }

  /* Score Card */
  .scorecard {
    background-color: lightblue;
    padding: 20px;
    margin-top: 20px;
    width: 300px;
    margin-left: 550px;
    border: double;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: lightcyan;
    margin-top: 20px;
    border: double;
  }
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
 
